<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  {% load static %}
  <link href="{% static 'output.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-3xl font-bold mb-6 text-center">Register</h2>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"
        class="bg-green-500 text-black py-2 px-4 rounded-lg hover:bg-green-600 w-full font-semibold">
        Register
      </button>
    </form>
  </div>
</body>

</html>